<ul class="breadcrumb">
    <li><a href="/admin/"><i class="icon-home"></i></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignDo('default')?>" class="muted"><?=LangAdmin::get('Catalog')?></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('sets', 'default')?>" class="muted"><?=LangAdmin::get('Sets')?></a> <span class="divider">›</span></li>
    <li class="active"><?=LangAdmin::get('Brands')?></li>
</ul><!--/.breadcrumb-->

<?=TabsGenerator::GetTabs('templates/catalog/navigation/tabs.xml', $PageUrl)?>

<? include('templates/sets/navigation/sub-tabs.html'); ?>

<h1><?=LangAdmin::get('Brands')?></h1>

<div class="sets_wrapper">
<div class="row-fluid offset-bottom1">

    <div class="span4">

        <strong class="offset-right05"><?=LangAdmin::get('Add')?></strong>

        <strong data-target=".ot_add_brand_from_list" data-toggle="collapse" class="blink blink-iconed"><i class="icon-list"></i> <?=LangAdmin::get('from_list')?></strong> <?=LangAdmin::get('or')?>
        <span class="offset-left05"><strong data-target=".ot_add_brand_from_link" data-toggle="collapse" class="blink blink-iconed"><i class="icon-link"></i><?=LangAdmin::get('by_link')?></strong></span>

    </div>

    <div class="span4">
        <button id="save-order" itemType="Best" itemContentType="Brand" class="btn btn-tiny disabled" data-loading-text="<i class='icon-sort-by-attributes-alt icon-rotate-270 font-14'></i> <?=LangAdmin::get('Saving_order')?>" title="<?=LangAdmin::get('Save_order')?>"><i class="icon-sort-by-attributes-alt icon-rotate-270 font-14"></i> <?=LangAdmin::get('Save_order')?></button>
    </div>

    <div class="span2">
        <? if (count($languages) > 1) { ?>
        <!-- site language -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle offset-top05" data-toggle="dropdown" href="#" title="<?=LangAdmin::get('Choose_lang_to_edit')?>">
                <?=$currentLang?>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <? foreach ($languages as $code => $lang) { ?>
                <li><a href="<?=$PageUrl->AssignDo('default')?>&language=<?=$code?>"><?=$lang?></a></li>
                <? } ?>
            </ul>
        </div>
        <!-- /site language -->
        <? } ?>
    </div>
    <div class="span2">
        <button class="ot_clear_set btn btn-tiny" data-type="<?=$type?>" data-content-type="<?=$contentType?>"><?=LangAdmin::get('clear_set')?></button>
    </div>

</div>


<div class="ot_add_brand_from_list collapse">

    <form class="well well-small" action="<?=$PageUrl->AssignCmdAndDo('sets', 'addSetsBrand')?>" method="post">
    <div class="row-fluid">

         <div class="brand-item-template"><div class="span3" style="display:none;"><label class="checkbox"><input value="" type="checkbox"><span class="thumbnail thumbnail-micro"><img src="" alt=""></span> <span class="brand-name"></span></label></div></div>

        <?php
            $cnt = 0;
            $i = 0;
            $open = false;
        foreach ($allBrands as $i => $brand) {
            if ($brands[$brand['id']]) {
                continue;
            }
            $cnt++;
            ?>
            <?php if( !$open ) {
                $open = true;
            ?>
            <?php } ?>
            <div class="span3"><label class="checkbox"><input value="<?=$brand['id']?>" type="checkbox"><span class="thumbnail thumbnail-micro"><img src="<?=$brand['PictureUrl']?>" alt="<?=$this->escape($brand['name'])?>"></span> <?=$this->escape($brand['name'])?></label></div>
            <?php $i++;
            if ($i%4 == 0) { 
                $open = false;
              ?>
            <?php }
            ?>
        <?php } ?>
        <span class="no-more-brands" <?php if ($cnt != 0) print 'style="display: none;"'; ?>>
            <?=LangAdmin::get('No_more_brands')?>
        </span>
    </div>

        <div class="offset-top1">
            <input type="hidden" name="urlId" id="ids">
            <button id="add-from-list-submit" type="button" class="btn btn-tiny btn-primary  <?php if ($cnt==0) print 'disabled'; ?> <?php if ($cnt!=0) print 'btn_preloader'; ?>" autocomplete="off" data-loading-text="<?=LangAdmin::get('Add')?>"><?=LangAdmin::get('Add')?></button>
            <button type="button" class="btn btn-tiny offset-left1 cancel-btn" data-target=".ot_add_brand_from_list" data-toggle="collapse"><?=LangAdmin::get('Cancel')?></button>
        </div>

    </form><!-- /.well -->

</div><!-- /.ot_add_brand_from_list -->


<div class="ot_add_brand_from_link collapse">

    <form id="add-brand-item-form" class="form-inline well" action="<?=$PageUrl->AssignCmdAndDo('sets', 'addSetsBrand')?>" method="post">
        <?=LangAdmin::get('By_link_or_Id')?> <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-placement="right" data-content="<?=LangAdmin::get('Add_brand_by_link_to_brand_or_by_brand_id')?>"></i>

        <input class="input" type="text" name="urlId">

        <button type="button" class="btn btn-primary btn_preloader" data-loading-text="<?=LangAdmin::get('Add')?>"><?=LangAdmin::get('Add')?></button>
        <button type="button" class="btn offset-left05 cancel-btn   " data-target=".ot_add_brand_from_link" data-toggle="collapse" title="<?=LangAdmin::get('Cancel_hide_form')?>"><?=LangAdmin::get('Cancel')?></button>
    </form>

</div>

<ul id="brands-sortable" class="thumbnails ot_sortable_cols ot_sortable_brands">

    <div class="ot-brand-template">
        <li id="brandId" style="display:none;" type="Brand">
            <div class="thumbnail">
                <header>
                    <span class="sortable_handler" title="<?=LangAdmin::get('Change_order')?>"><i class="icon-move"></i></span>
                    <button class="btn btn-mini pull-right ot_show_deletion_dialog_modal" title="<?=LangAdmin::get('Delete')?>"><i class="icon-remove"></i></button>
                </header>
                <a href="#" title="<?=LangAdmin::get('To_brand_page')?>" class="img_preview"><img src="pictureUrl" alt="brandName"></a>
                <h3>brandName</h3>
            </div>
        </li>
    </div>

    <?php foreach ($brands as $i => $brand) { ?>
    <li id="<?=$brand['id']?>" type="Brand">
        <div class="thumbnail">
            <header>
                <span class="sortable_handler" title="<?=LangAdmin::get('Change_order')?>"><i class="icon-move"></i></span>
                <button class="btn btn-mini pull-right ot_show_deletion_dialog_modal" title="<?=LangAdmin::get('Delete')?>"><i class="icon-remove"></i></button>
            </header>
            <a href="<?=UrlGenerator::generateBrandUrl($brand['id'])?>" target="_blank" title="<?=LangAdmin::get('To_brand_page')?>" class="img_preview"><img src="<?=$brand['PictureUrl']?>" alt="<?=$brand['name']?>"></a>
            <h3><?=$brand['name']?></h3>
        </div>
    </li>
    <?php } ?>

</ul>


</div> <!-- sets-wrapper -->

<? AssetsMin::registerJsFile('/admin/js/ot-sets.js'); ?>
<? AssetsMin::registerJsFile('/js/vendor/jquery.form.js'); ?>

