<div class="product-item-list product-item" itemscope itemtype="https://schema.org/Product">
    <div class="product-item-image">
        <a href="<?=$item->url?>" class="item-list_img-wrap">
            <? if ($item->getMediumImage()) { ?>
            <img class="check-noimg main-photo" src="<?=$item->getMediumImage()?>" alt="<?=$this->escape($item->title)?>"
                 itemprop="image">
            <? } ?>
        </a>
        <div class="product-item-more-photos more-photos">
            <?
            $i = 0;
            foreach ($item->pictures as $picture) { ?>
            <span img-src="<?=$picture['medium']?>" class="other-photo"><img class="check-noimg"
                                                                           src="<?=$picture['small']?>"
                                                                           itemprop="image"></span>
            <?
                $i++;
                if ($i == 4) {
                    break;
                }
            } ?>
        </div>
    </div>

    <div class="product-item-list_info">
        <div class="product-title">
            <a href="<?=$item->url?>"><h6 itemprop="name"><?=$this->escape($item->title)?></h6></a>
        </div>
        <div class="more-infox">
            <? if (!is_null($item->itemReviewRating)) { ?>
                <div class="ratyScore" data-score="<?=$item->itemReviewRating?>"></div>
            <? } ?>
            <?=Lang::get('vendor')?>: <?= VendorHelper::generateLink($item->vendorId, $item->vendorName, array('class' => 'vendor-url'))?>
            <br>
            <? if ($item->vendorScore) { ?> <i
                class="i-raiting <?=$item->provider?> raiting_<?=$item->vendorScore?>"></i><? } ?>

            <div class="item-list_cost">
                <? if ($item->displayPromoPrice) { ?>
                <div class="item-list_cost_old">
                    <span><?=$item->displayPrice?></span>
                </div>
                <div class="item-list_cost_new" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <?=$item->displayPromoPrice?>
                </div>
                <? } else {?>
                <div class="item-list_cost_new" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <? if ($item->quantityRanges) { ?>
                        <div class="list_quantity-ranges">
                            <table class="table quantity-ranges" title="<?=Lang::get('Prices_ranges')?>">
                                <tbody>
                                <? foreach ($item->quantityRanges as $range) { ?>
                                    <tr>
                                        <td class="range"><?=$range['DisplayRange']?></td>
                                        <td class="price"><?=$range['Price']?></td>
                                    </tr>
                                <? } ?>
                                </tbody>
                            </table>
                        </div>
                    <? } else { ?>
                        <?=$item->displayPrice?>
                    <? } ?>
                </div>
                <? } ?>
            </div>
            <? if ($item->salesInLast30Days !== null) { ?>
                <div class="sold-block">
                    <span title="<?=Lang::get('sales_volume1')?>"><?=Lang::get('sold')?>: <?=$item->salesInLast30Days?></span>
                </div>
            <? } ?>
        </div>
    </div>
</div>