<ul class="breadcrumb">
    <li><a href="/admin/"><i class="icon-home"></i></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('SiteConfiguration', 'default')?>"><?=LangAdmin::get('Configuration')?></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignDo('orders')?>" class="muted"><?=LangAdmin::get('orders')?></a> <span class="divider">›</span></li>
    <li class="active"><?=LangAdmin::get('quittance_to_bank')?></li>
</ul><!--/.breadcrumb-->

<? require TPL_ABSOLUTE_PATH . 'site_config/inc/tabs.php'; ?>

<? XEditableFields::Init('order', $PageUrl); ?>

<!-- ot-sub-sub-nav -->
<div class="tabbable ot_sub_sub_nav">

    <? require TPL_ABSOLUTE_PATH . 'site_config/inc/orders_submenu.php'; ?>

</div><!-- /ot-sub-sub-nav -->

<div class="row-fluid">

    <div class="span10">
        <h1><?=LangAdmin::get('quittance_to_bank')?></h1>
    </div>

</div>

<!-- configuration -->
<div class="well">

    <form class="form-horizontal ot_form" action="<?=$PageUrl->AssignDo('saveBank')?>">

        <div data-field="ot_sberbank_pay_active"></div>
        <? XEditableFields::Register('ot_sberbank_pay_active', $config->get('ot_sberbank_pay_active')); ?>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_name_of_payee"><?=LangAdmin::get('name_of_payee')?></label>
                <div class="controls">
                    <input id="ot_name_of_payee" name="bank[name_of_payee]" value="<?=$config->get('name_of_payee')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_INN_of_payee"><?=LangAdmin::get('INN_of_payee')?></label>
                <div class="controls">
                    <input id="ot_INN_of_payee" name="bank[INN_of_payee]" value="<?=$config->get('INN_of_payee')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_account_number_of_payee"><?=LangAdmin::get('account_number_of_payee')?></label>
                <div class="controls">
                    <input id="ot_account_number_of_payee" name="bank[account_number_of_payee]" value="<?=$config->get('account_number_of_payee')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_bank_name_of_payee"><?=LangAdmin::get('bank_name_of_payee')?></label>
                <div class="controls">
                    <input id="ot_bank_name_of_payee" name="bank[bank_name_of_payee]" value="<?=$config->get('bank_name_of_payee')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_bank_identification_code"><?=LangAdmin::get('bank_identification_code')?></label>
                <div class="controls">
                    <input id="ot_bank_identification_code" name="bank[bank_identification_code]" value="<?=$config->get('bank_identification_code')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_correspondent_bank_account"><?=LangAdmin::get('correspondent_bank_account')?></label>
                <div class="controls">
                    <input id="ot_correspondent_bank_account" name="bank[correspondent_bank_account]" value="<?=$config->get('correspondent_bank_account')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <label class="control-label" for="ot_description_of_payment"><?=LangAdmin::get('description_of_payment')?></label>
                <div class="controls">
                    <input id="ot_description_of_payment" name="bank[description_of_payment]" value="<?=$config->get('description_of_payment')?>" placeholder="" class="input-xlarge" required="" type="text">
                </div>
            </div>

            <div class="control-group control-group-large">
                <div class="controls">
                    <button type="button" class="btn btn-primary btn_preloader" id="bank-save" data-loading-text="<?=LangAdmin::get('Saving')?>" autocomplete="off"><?=LangAdmin::get('Save')?></button>
                </div>
            </div>

        </form>

</div>

<? AssetsMin::registerJsFile('/admin/js/ot-bank-quittance-form.js'); ?>
<? AssetsMin::jsBegin(); ?>
<script>
    InlineFields = new Backbone.Collection;
    InlineFields.add(<?=json_encode(XEditableFields::GetFields())?>);
</script>
<? $strScript = AssetsMin::jsEnd(); ?>
<? AssetsMin::registerJs($strScript); ?>

<? AssetsMin::registerJsFile('/admin/js/ot-render-template.js'); ?>
<? AssetsMin::registerJsFile('/admin/js/ot-inline.editable.init.js'); ?>
