AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)/$ payment/payment_systems_proxy/$2/?ps=$1 [L,QSA]