<style>
    .col690 {
        width: 690px;
    }

    .fll {
        float: left;
    }

    .flr {
        float: right;
    }

    .wrap {
        margin: 0 auto;
        width: 960px;
        max-width: 100%;
    }

    .clrfix {
        zoom: 1.0;
    }

    .ramka {
        border-top: black 1px dotted;
        border-bottom: black 1px dotted;
        border-left: black 1px dotted;
        border-right: black 1px dotted;
        width: 681px;
    }

    .lineh {
        border-bottom: black 2px solid;
    }

    .linevh {
        border-bottom: black 2px solid;
        border-left: black 2px solid;
    }

    .linev {
        border-left: black 2px solid;
    }

    .lineh {
        border-bottom: black 2px solid;
    }

    .line_lbt {
        border-left: black 1px solid;
        border-bottom: black 1px solid;
        border-top: black 1px solid;
        font-weight: bold;
    }

    .t8n {
        font-size: 8.5pt;
        font-family: "times new roman", serif;
    }

    .h8b {
        font-weight: bold;
        font-size: 6.3pt;
        font-family: arial, sans-serif;
        border-bottom: black 1px solid;
        text-align: center;
    }

    .t6n {
        font-size: 6.5pt;
        font-family: "times new roman", serif;
    }

    .t7n {
        font-size: 7.5pt;
        font-family: "times new roman", serif;
    }

    .t10b {
        font-weight: bold;
        font-size: 10pt;
        font-family: "times new roman", serif;
    }

    .line_lbtr {
        border-left: black 1px solid;
        border-bottom: black 1px solid;
        border-top: black 1px solid;
        border-right: black 1px solid;
        font-weight: bold;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .debug-log {
        display: none;
    }
</style>

<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <table class="ramka"  border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="lineh" align="center" height="245" width="188">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="t10b" align="center" height="100" valign="top">
                                                И з в е щ е н и е
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t10b" align="center" height="100" valign="bottom">
                                                Кассир
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="linevh" height="245" width="16">
                                &nbsp;
                            </td>
                            <td class="lineh" height="245">
                                <table style="height: 245px;" align="center" border="0" cellpadding="0" cellspacing="0" width="477">
                                    <tbody>
                                    <tr>
                                        <td height="40">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="t6n" align="right" valign="middle"><i>Форма № ПД-4</i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h8b" align="center" valign="bottom">
                                            <p align="center">
                                                <?=$quittanceData['payeeName']?>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t6n" align="center" height="10" valign="top">
                                            (наименование получателя платежа)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td valign="bottom" width="33%">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr><!-- ИНН -->
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][0]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][1]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][2]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][3]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][4]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][5]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][6]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][7]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][8]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][9]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="8%"><?=isset($quittanceData['payeeINN'][10])&&$quittanceData['payeeINN'][10]!==''?$quittanceData['payeeINN'][10]:'—'?></td>
                                                                        <td class="line_lbtr" align="center" height="10" width="8%"><?=isset($quittanceData['payeeINN'][11])&&$quittanceData['payeeINN'][11]!==''?$quittanceData['payeeINN'][11]:'—'?></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td valign="bottom" width="10%">&nbsp;</td>
                                                        <td valign="bottom" width="60%">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr><!-- Номер счета -->
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][0]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][1]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][2]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][3]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][4]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][5]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][6]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][7]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][8]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][9]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][10]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][11]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][12]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][13]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][14]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][15]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][16]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][17]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][18]?></td>
                                                                        <td class="line_lbtr" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][19]?></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="t6n" align="center" valign="top">(ИНН получателя платежа)</td>
                                                        <td class="t6n" valign="top">&nbsp;</td>
                                                        <td class="t6n" align="center" valign="top">(номер счета получателя платежа)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t8n" valign="bottom" width="10">в</td>
                                                        <td class="h8b" align="center" valign="bottom"><?=$quittanceData['payeeBankName']?></td>
                                                        <td class="t8n" align="right" valign="bottom" width="40">БИК&nbsp;</td>
                                                        <td valign="bottom" width="27%">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr><!-- БИК -->
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][0]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][1]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][2]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][3]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][4]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][5]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][6]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][7]?></td>
                                                                        <td class="line_lbtr" align="center" height="10" width="10%"><?=isset($quittanceData['bankIdentificationCode'][8])&&$quittanceData['bankIdentificationCode'][8]!==''?$quittanceData['bankIdentificationCode'][8]:'—'?></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="t6n" align="center" valign="top">(наименование банка получателя платежа)</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t7n" valign="bottom">Номер&nbsp;кор./сч.&nbsp;банка&nbsp;получателя&nbsp;платежа</td>
                                                        <td valign="bottom" width="60%">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr><!-- Кор.сч. -->
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][0]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][1]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][2]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][3]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][4]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][5]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][6]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][7]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][8]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][9]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][10]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][11]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][12]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][13]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][14]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][15]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][16]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][17]?></td>
                                                                        <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][18]?></td>
                                                                        <td class="line_lbtr" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][19]?></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td class="h8b" valign="bottom" width="55%"><?=$quittanceData['paymentDescription']?></td>
                                                    <td width="5%">&nbsp;</td>
                                                    <td class="h8b" valign="bottom"><?=(string)$accountNum?></td>
                                                </tr>
                                                <tr>
                                                    <td class="t6n" align="center" valign="top">(наименование платежа)</td>
                                                    <td>&nbsp;</td>
                                                    <td class="t6n" align="center" valign="top">(номер лицевого счета (код) плательщика)</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t8n" valign="bottom" width="1%">Ф.И.О&nbsp;плательщика&nbsp;</td>
                                                        <td class="h8b" valign="bottom"><?=$userInfo['recipientLastName']?> <?=$userInfo['recipientFirstName']?> <?=@$userInfo['recipientMiddleName']?></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t8n" valign="bottom" width="1%">Адрес&nbsp;плательщика&nbsp;</td>
                                                        <td class="h8b" valign="bottom">
                                                            <?=$userInfo['postalCode']?>, <?=$userInfo['country']?>, <?=$userInfo['city']?>, <?=$userInfo['address']?>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t8n" valign="bottom" width="1%">Сумма&nbsp;платежа&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%"><?=$amount?></td>
                                                        <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%">00</td>
                                                        <td class="t8n" valign="bottom" width="1%">&nbsp;коп.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сумма&nbsp;платы&nbsp;за&nbsp;услуги&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                        <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                        <td class="t8n" valign="bottom" width="1%">&nbsp;коп.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t8n" valign="bottom" width="5%">Итого&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%">&nbsp;<?=$amount?></td>
                                                        <td class="t8n" valign="bottom" width="5%">&nbsp;руб.&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                        <td class="t8n" valign="bottom" width="5%">&nbsp;коп.&nbsp;</td>
                                                        <td class="t8n" align="right" valign="bottom" width="20%">&nbsp;"&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                        <td class="t8n" valign="bottom" width="1%">&nbsp;"&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="20%">&nbsp;&nbsp;&nbsp;</td>
                                                        <td class="t8n" valign="bottom" width="4%">&nbsp;20&nbsp;</td>
                                                        <td class="h8b" valign="bottom" width="3%">&nbsp;</td>
                                                        <td class="t8n" valign="bottom" width="1%">&nbsp;г.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t7n" style="text-align: justify;" valign="bottom">
                                            С условиями приема указанной в платежном документе суммы, в т.ч. с суммой
                                            взимаемой платы за&nbsp;услуги
                                            банка,&nbsp;ознакомлен&nbsp;и&nbsp;согласен.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="t6n" valign="bottom" width="50%">&nbsp;</td>
                                                        <td class="t7n" valign="bottom" width="1%"><b>Подпись&nbsp;плательщика&nbsp;</b></td>
                                                        <td class="h8b" valign="bottom" width="40%">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr><td class="spc" height="1">&nbsp;</td></tr>
                                </tbody>
                            </table>
                        </td>
                            <td class="lineh" height="245" width="16">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="t10b" align="center" height="285" valign="bottom" width="188">
                                Квитанция<br><br>
                                Кассир<br>&nbsp;
                            </td>
                            <td class="linev" height="285" width="16">&nbsp;</td>
                            <td height="285" valign="top">
                                <table style="height: 285px;" align="center" border="0" cellpadding="0" cellspacing="0" width="477">
                                    <tbody>
                                        <tr>
                                            <td class="h8b" align="center" height="30" valign="bottom">
                                                <p align="center">
                                                    <?=$quittanceData['payeeName']?>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t6n" align="center" height="10" valign="top">(наименование получателя платежа)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="bottom" width="33%">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr><!-- ИНН -->
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][0]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][1]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][2]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][3]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][4]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][5]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][6]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][7]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][8]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=$quittanceData['payeeINN'][9]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="8%"><?=isset($quittanceData['payeeINN'][10])&&$quittanceData['payeeINN'][10]!==''?$quittanceData['payeeINN'][10]:'—'?></td>
                                                                            <td class="line_lbtr" align="center" height="10" width="8%"><?=isset($quittanceData['payeeINN'][11])&&$quittanceData['payeeINN'][11]!==''?$quittanceData['payeeINN'][11]:'—'?></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td valign="bottom" width="10%">&nbsp;</td>
                                                            <td valign="bottom" width="60%">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr><!-- Номер счета -->
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][0]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][1]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][2]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][3]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][4]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][5]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][6]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][7]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][8]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][9]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][10]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][11]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][12]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][13]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][14]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][15]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][16]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][17]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][18]?></td>
                                                                            <td class="line_lbtr" align="center" height="10" width="5%"><?=$quittanceData['payeeAccountNumber'][19]?></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="t6n" align="center" valign="top">(ИНН получателя платежа)</td>
                                                            <td class="t6n" valign="top">&nbsp;</td>
                                                            <td class="t6n" align="center" valign="top">(номер счета получателя платежа)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t8n" valign="bottom" width="10">в</td>
                                                            <td class="h8b" align="center" valign="bottom"><?=$quittanceData['payeeBankName']?></td>
                                                            <td class="t8n" align="right" valign="bottom" width="40">БИК&nbsp;</td>
                                                            <td valign="bottom" width="27%">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr><!-- БИК -->
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][0]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][1]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][2]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][3]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][4]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][5]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][6]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="10%"><?=$quittanceData['bankIdentificationCode'][7]?></td>
                                                                            <td class="line_lbtr" align="center" height="10" width="10%"><?=isset($quittanceData['bankIdentificationCode'][8])&&$quittanceData['bankIdentificationCode'][8]!==''?$quittanceData['bankIdentificationCode'][8]:'—'?></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td class="t6n" align="center" valign="top">(наименование банка получателя платежа)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t7n" valign="bottom">Номер&nbsp;кор./сч.&nbsp;банка&nbsp;получателя&nbsp;платежа</td>
                                                            <td valign="bottom" width="60%">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr><!-- Кор.сч. -->
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][0]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][1]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][2]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][3]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][4]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][5]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][6]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][7]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][8]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][9]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][10]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][11]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][12]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][13]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][14]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][15]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][16]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][17]?></td>
                                                                            <td class="line_lbt" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][18]?></td>
                                                                            <td class="line_lbtr" align="center" height="10" width="5%"><?=$quittanceData['correspondentBankAccount'][19]?></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="h8b" valign="bottom" width="55%"><?=$quittanceData['paymentDescription']?></td>
                                                            <td width="5%">&nbsp;</td>
                                                            <td class="h8b" valign="bottom"><?=(string)$accountNum?></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="t6n" align="center" valign="top">(наименование платежа)</td>
                                                            <td>&nbsp;</td>
                                                            <td class="t6n" align="center" valign="top">(номер лицевого счета (код) плательщика)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t8n" valign="bottom" width="1%">Ф.И.О&nbsp;плательщика&nbsp;</td>
                                                            <td class="h8b" valign="bottom">
                                                                <?=$userInfo['recipientLastName']?> <?=$userInfo['recipientFirstName']?> <?=@$userInfo['recipientMiddleName']?>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t8n" valign="bottom" width="1%">Адрес&nbsp;плательщика&nbsp;</td>
                                                            <td class="h8b" valign="bottom">
                                                                <?=$userInfo['postalCode']?>, <?=$userInfo['country']?>, <?=$userInfo['city']?>, <?=$userInfo['address']?>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t8n" valign="bottom" width="1%">Сумма&nbsp;платежа&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%"><?=$amount?></td>
                                                            <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%">00</td>
                                                            <td class="t8n" valign="bottom" width="1%">&nbsp;коп.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сумма&nbsp;платы&nbsp;за&nbsp;услуги&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                            <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                            <td class="t8n" valign="bottom" width="1%">&nbsp;коп.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t8n" valign="bottom" width="5%">Итого&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%">&nbsp;<?=$amount?></td>
                                                            <td class="t8n" valign="bottom" width="5%">&nbsp;руб.&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                            <td class="t8n" valign="bottom" width="5%">&nbsp;коп.&nbsp;</td>
                                                            <td class="t8n" align="right" valign="bottom" width="20%">&nbsp;"&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                                            <td class="t8n" valign="bottom" width="1%">&nbsp;"&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="20%">&nbsp;&nbsp;&nbsp;</td>
                                                            <td class="t8n" valign="bottom" width="4%">&nbsp;20&nbsp;</td>
                                                            <td class="h8b" valign="bottom" width="3%">&nbsp;</td>
                                                            <td class="t8n" valign="bottom" width="1%">&nbsp;г.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t7n" style="text-align: justify;" valign="bottom">
                                                С условиями приема указанной в платежном документе суммы, в т.ч. с суммой
                                                взимаемой платы за&nbsp;услуги
                                                банка,&nbsp;ознакомлен&nbsp;и&nbsp;согласен.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t6n" valign="bottom" width="50%">&nbsp;</td>
                                                            <td class="t7n" valign="bottom" width="1%"><b>Подпись&nbsp;плательщика&nbsp;</b></td>
                                                            <td class="h8b" valign="bottom" width="40%">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spc" height="1">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;<br>
            </td>
        </tr>
    </tbody>
</table>

<!--noindex-->
<script type="text/javascript">print("Квитанция от <?=date('d.m.Y')?>");</script>
<!--/noindex-->