<div class="category-description"
     style="display:<?=General::getConfigValue('search_items_at_render_page')? "block" : "none"?>">
    <? if (!empty($info['img'])) { ?>
        <div class="search-content-info-img">
            <img src="<?= $info['img'] ?>" <?= (!empty($info['title'])) ? 'title="' . $this->escape($info['title']) . '"' : '' ?> />
        </div>
    <? } ?>
    <? if (!empty($info['description'])) { ?>
        <div class="search-content-info-description"><?= $info['description'] ?></div>
    <? } ?>
    <div class="clearfix"></div>
</div>