<div class="product-item item-product-inside js-product-item"
     data-product-id="<?=$item->id?>"
     data-product-url="<?=UrlGenerator::toRoute('item', ['id' => $item->id])?>"
>
    <?=ProductsHelper::getHtmlFeatureListForLabel($item->features)?>
    <div class="item-product__img">
        <a href="<?=$item->url?>" class="item-product__img-a item-list_img-wrap">
            <? if ($item->getMediumImage()) { ?>
                <div class="product-image-wrapper">
                    <img class="main-photo check-noimg" src="<?=$item->getMediumImage()?>" alt="<?=$this->escape($item->title)?>" itemprop="image">
                </div>
            <? } ?>
            <div class="item-product__img_hover">
                <span class="button btn-quick-look js-product-btn-quick-look"><?=Lang::get('quick_look')?></span>
            </div>
        </a>
    </div>
    <? if ($item->title) { ?>
        <a href="<?=$item->url?>" class="item-product__title"><?=$this->escape($item->title)?></a>
    <? } ?>
    <div class="item-product__price">
        <? if ($item->displayPromoPrice) { ?>
            <div class="item-product__price_new"><?=$item->displayPromoPrice?></div>
            <div class="price-old__wrap">
                <div class="item-product__price_old"><span><?=$item->displayPrice?></span></div>
                <? if ($item->promotionPricePercent) { ?>
                    <div class="item-product__price_discount">- <?=$item->promotionPricePercent?>%</div>
                <? } ?>
            </div>
        <? } else {?>
            <div class="item-product__price_new"><?=$item->displayPrice?></div>
        <? } ?>
    </div>
    <? if ($item->salesInLast30Days !== null) { ?>
        <div class="item-product__sold">
            <div class="sold-block">
                <span title="<?=Lang::get('sales_volume1')?>"><?=Lang::get('sold')?>: <?=$item->salesInLast30Days?></span>
            </div>
        </div>
    <? } ?>

    <? if (!is_null($item->itemReviewRating)) { ?>
        <div class="item-product__rating">
            <span><?=Lang::get('vendor_rating_baserus')?>:</span>
            <div class="ratyScore ratyScore-sm" style="text-align: center;" data-score="<?=$item->itemReviewRating?>"></div>
        </div>
    <? } ?>

    <div class="item-product__bottom-block">
        <div class="item-product-bottom-inside">
            <? if ($item->quantityRanges) { ?>
            <div>
                <table class="table quantity-ranges" title="<?=Lang::get('Prices_ranges')?>">
                    <tbody>
                        <? foreach ($item->quantityRanges as $range) { ?>
                            <tr>
                                <td class="range"><?=$range['DisplayRange']?></td>
                                <td class="price"><?=$range['Price']?></td>
                            </tr>
                        <? } ?>
                    </tbody>
                </table>
            </div>
            <? } ?>
            <? if ($item->vendorName) { ?>
                <div class="item-product__seller"><?=Lang::get('vendor')?>: <?= VendorHelper::generateLink($item->vendorId, $item->vendorName, array('class' => 'vendor-url'))?></div>
            <? } ?>
            <? if ($item->vendorScore) { ?> <i class="i-raiting <?=$item->provider ?> raiting_<?=$item->vendorScore ?>"></i><? } ?>
            <? if (count($item->pictures) > 1) { ?>
                <ul class="more-photos">
                    <? foreach ($item->pictures as $picture) { ?>
                        <li class="other-photo"
                            img-src="<?=$picture['medium']?>"
                            style="background-image: url(<?=$picture['small']?>)"
                        ></li>
                    <? } ?>
                </ul>
            <? } ?>
            <div class="item-product__add hidden">
                <a href="javascript:void(0)" class="add-favorite"><i></i> <?=Lang::get('Add_item_to_fav')?></a>
            </div>
        </div>
    </div>
</div>