<div class="main">
    <div class="wrap clrfix">
        <div class="bproduct">
            <div id="review-sented" style="display:none;"><?=Lang::get('shop_comment_add')?></div>
            <div id="review-sented-error" style="display:none;"><?=Lang::get('shop_comment_error_add')?></div>
            <h1 class="mb25"><?=Lang::get('shopreviews')?></h1>

    		<? if(is_array($shopreviews)) { ?>
                <div class="reviews shopReviews">
                    <ul class="reviewsList">
                        <?php foreach ($shopreviews['rows'] as $post) {?>
                        <li class="reviewsItem">
                            <div class="row">
                                <div class="col-md box-reviews_commentator">
                                    <span><?=$post['name']?></span>
                                    <time datetime="<?=$post['created']?>"><?=$post['created']?></time>
                                </div>
                            <p class="reviewsCommentText author"><?=TextHelper::htmlFromUser($this->escape($post['text']))?></p>
                            <ul class="col-md box-reviews_vote estimateBlock noSelect">
                                <? $ratingClass = ((int)$post['rating'] < 0) ? 'negative' : 'positive'; ?>
                                <? if (User::getObject()->isAuthenticated()) { ?>
                                    <li>
                                        <? if (!@in_array ($post['review_id'], $_SESSION['shop_rating'])) { ?>
                                            <a href="/?p=shopreviews&to=<?=$post['review_id']?>&calc=minus" style="border-bottom: none;"><span class="estimateButton negative">−</span></a>
                                        <? } ?>
                                    </li>
                                    <li><a href="javascript:void(0)"><span class="estimateRate <?=$ratingClass?>"><?=$post['rating']?></span></a></li>
                                    <li>
                                        <? if (!@in_array ($post['review_id'], $_SESSION['shop_rating'])) { ?>
                                             <a href="/?p=shopreviews&to=<?=$post['review_id']?>&calc=plus" style="border-bottom: none;"><span class="estimateButton positive">+</span></a>
                                        <? } ?>
                                     </li>
                                    
                                <? } else { ?>
                                    <li><a href="javascript:void(0)"><span class="<?=$ratingClass?> <?=! $post['allowedVote'] ? 'voted': ''?>"><?=$post['rating']?></span></a></li>
                                <? } ?>
                            </ul>
                
                            </div>
                            <? if (! empty($post['answer'])) { ?>
                            <div class="row">
                                <div class="col-md box-reviews_comment <?=General::getConfigValue('is_old_platform') ? 'reviewsAnswer' : ''?>"><div class="col-md box-reviews_commentator">
                                    <span><?=Lang::get('Shop_comments_admin_asnwer')?></span>
                                    <time datetime="<?=$post['answer_date']?>"><?=$post['answer_date']?></time>
                                </div>
                                <?=TextHelper::htmlFromUser($this->escape($post['answer']))?></div>
                            </div>
                            <? } ?>
                        </li>
                        <? } ?>
                    </ul>
                </div>

                <? $curpage = floor($from/$perpage) + 1; ?>
                <? $maxpage = ceil($count/$perpage); ?>

                <? if (($count != 0) && (int)$maxpage > 1) { ?>
                    <div class="pagination-shopreview">

                        <? if ($curpage > 1) { ?>
                        <a href="<?=$pageurl?>&from=<?=(($curpage-2) * $perpage)?>" class="paginationNav solidLink back"><span class="linkWrapper">&larr;</span></a>
                        <? } ?>

                        <ul class="paginationNumbers">
                        <? if ($curpage > 3) { ?>
                            <li class="paginationNumbersItem"><a href="<?=$pageurl?>&from=0" class="paginationNumbersLink solidLink"><span class="linkWrapper">1</span></a></li>
                        <? } ?>
                        <? if ($curpage > 4) { ?>
                            <li class="paginationNumbersItem dotted">...</li>
                        <? } ?>
                        <? for ($i = max(1, $curpage - 2); $i <= min($maxpage, $curpage+2); $i++) { ?>
                            <? if ($curpage == $i) { ?>
                                <li class="paginationNumbersItem active"><a href="<?=$pageurl?>&from=<?=(($i-1)*$perpage)?>" class="paginationNumbersLink solidLink"><span class="linkWrapper"><span class="linkWrapper"><?=$i?></span></a></li>
                            <? } else { ?>
                                <li class="paginationNumbersItem"><a href="<?=$pageurl?>&from=<?=(($i-1)*$perpage)?>" class="paginationNumbersLink solidLink"><span class="linkWrapper"><?=$i?></span></a></li>
                            <? } ?>
                        <? } ?>
                        <? if ($curpage < $maxpage - 3) { ?>
                            <li class="paginationNumbersItem dotted">...</li>
                        <? } ?>
                        <? if ($curpage < $maxpage - 2) { ?>
                            <li class="paginationNumbersItem"><a href="<?=$pageurl?>&from=<?=(($maxpage-1)*$perpage)?>" class="paginationNumbersLink solidLink">
                                <span class="linkWrapper"><?=$maxpage?></span>
                            </a></li>
                        <? } ?>
                        </ul>
                        <? if ($curpage < $maxpage) { ?>
                        <a href="<?=$pageurl?>&from=<?=($curpage * $perpage)?>" class="paginationNav solidLink forward" href="#"><span class="linkWrapper">&rarr;</span></a>
                        <? } ?>
                    </div>
                <? } ?>
                
            <? } else { ?>
    		    <span><?=Lang::get('no_posts')?></span>
    		<? } ?>


            <? if (isset($userinfo)) { ?>
                <div id="set_answer" class="commentAdding">                
                    <form action="<?=$pageurl?>" method="post" id="shopreviewCommentForm">
                        <label class="commentAddingLabel" for="commentAddingField"><?=Lang::get('your_review')?>:</label>
                        <div class="commentAddingWrapper">
                        <textarea class="commentAddingField"  id="commentAddingField" name="txt" cols="60" rows="4"></textarea>
                        <input name="name" id="name" type="hidden" value="<?=$userinfo['firstname']?$userinfo['lastname'].' '.$userinfo['firstname']:$userinfo['login']?>" />
                        <input class="btn btnDefault btnGrey commentAddingButton" name="" type="submit" value="<?=Lang::get('save')?>" />
                        </div>
                    </form>
                </div>
             <? } ?>
        </div>
    </div>
</div>

<script type="text/javascript">
    <? if ($add === 'Ok') {  ?>
        $().toastmessage('showToast', {'text': $('#review-sented').html(), 'stayTime': 6000, 'type': 'success'});
    <? } elseif  ($add === 'Error')  {  ?>
        $().toastmessage('showToast', {'text': $('#review-sented-error').html(), 'stayTime': 6000, 'type': 'error'});
    <? } ?>
</script>