	<small class="stitle"><?=Lang::get('subcategories')?>:</small>
	
	<ul class="mcats">
    <? if(is_array($subcats)) foreach($subcats as $cat) { ?>
        <? if ($cat['ishidden'] == 'false') { ?>
            <? if ($cat['isparent'] == 'false') { ?>
                <li><a href="/?p=category&cid=<?=$cat['id']?>"><?=$cat['name']?></a></li>
            <? } else { ?>
                <li><a href="/?p=subcategory<?=($cat['isvirtual'] == 'true' ? '&virt' : '')?>&cid=<?=$cat['id']?>"><?=$cat['name']?></a></li>
            <? } ?>
        <? } ?>
    <? } ?>
    </ul>