<div class="path"><div class="canvas clrfix">

        <ul class="flin">

        <li class="active"><a href="/?p=privateoffice"><?=Lang::get('My_orders')?></a></li>
        </ul>

</div></div>

<div class="main"><div class="canvas clrfix">
<h2><?=$message?></h2>
        
<? if ($order) { ?>
<h2><?=Lang::get('order')?>  <span style="color:Red"># <?=$order['id']?></span></h2>
<h2><?=Lang::get('status')?>: <span style="color:Red"><?=$order['status']?></span></h2>
<br>

<p style="color:#F15A24"><b><?=Lang::get('Cost')?>: <?=$order['cost']?></b></p>

<br>
		<table class="notepad">
			<thead>
				<tr>
					<td class="td1"><?=Lang::get('good')?></td>
					<td></td>
					<!--<td>Ори<?=Lang::get('g')?>инал</td>
					<td class="td4">Продавец</td>-->
					<td><?=Lang::get('price_simple')?></td>
					<td><nobr><?=Lang::get('quantity')?></nobr></td>
					<td><?=Lang::get('Cost')?></td>
					<td><?=Lang::get('Weight')?></td>
					<td><?=Lang::get('status')?></td>
				</tr>
			</thead>

			<tbody>
            <? foreach($order['items'] as $item){ ?>
				<tr>
					<td class="td1">
						<ul class="i40 flin"><li><a href="/?p=item&id=<?=$item['ItemId'];?>"><img src="<?=$item['PictureURL'];?>_40x40.jpg" alt="" width="100%" height="100%"/></a></li></ul>
					</td>
					<td>
                        <h3><?=$item['ItemId'];?></h3>
						<a href="/?p=item&id=<?=$item['ItemId'];?>"><?=$item['ItemTitle'];?> </a>
						<ul class="flin coptions">
                        <? if (isset($item['ItemConfiguration'])) foreach($item['ItemConfiguration'] as $itemconf) {?>
							<li><?=$itemconf['Property'];?>: <span><?=$itemconf['Value'];?></span></li>
                        <? } ?>
						</ul> 
					</td>
					<!--<td><a target="blank" href="<?=$item['ExternalURL'];?>"><?=$item['ItemId'];?></a></td> 
					<td class="td4"><a href="/?p=vendor&id=<?=$item['VendorId'];?>"><?=$item['VendorId'];?></a></td>-->
					<td><span class="pr"><nobr><?=$item['cost']?></nobr></span></td>
					<td><nobr> x <?=$item['count']?> = </nobr></td>
					<td><span class="pr"><nobr><?=($item['cost']*$item['count'])?></nobr></span></td>
					<td><nobr><?=$item['weight']?> <?=Lang::get('g')?>.</nobr></td>
					<td><nobr><?=$item['status']?></nobr></td>
				</tr>
            <?  }  ?>
			</tbody>
		</table>
        <br>
        <h2><?=Lang::get('History')?></h2>
        <br>
		<table class="notepad">
			<thead>
				<tr>
					<td class="td1"><?=Lang::get('Date_and_time')?></td>
					<td><?=Lang::get('Operation')?></td>
					<td><?=Lang::get('New_value')?></td>
				</tr>
			</thead>

			<tbody>
            <? foreach($order['history']['line'] as $line){ ?>
				<tr>
					<td><?=$line->datetime?></td>
					<td><b><?=$line->operation?></b></td>
					<td><span class="pr"><?=$line->value?></span></td>
				</tr>
            <?  }  ?>
			</tbody>
		</table>        
        
<? }else{ ?>
    <form method="post">
    <table class="notepad">
    <tr><td><?=Lang::get('order_number')?>: <td><input name="id" value="<?=@$id?>">
    <tr><td><?=Lang::get('password')?>: <td><input name="pass">
    <tr><td>&nbsp;<td><input type="submit" value="  <?=Lang::get('Check')?>  ">
    </table>
    <form>
<? } ?>

</div></div>

