<div class="well">
<div class="span2 pull-right">
    <?=AdminLanguage::getLanguageSelector(false)?>
</div>

<div class="row-fluid" id="searchMethodsInfo">
    <div class="span12">
        <br/>
        <? if (empty($searchMethods)) { ?>
            <p><?=LangAdmin::get('List_is_empty')?></p>
        <? } else { ?>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <? foreach ($searchMethods as $searchMethod) { ?>
                        <li>
                            <a href="javascript:void(0)" class="searchMethod"  data-id="<?=$searchMethod->GetId()?>" action="<?=$PageUrl->Add('do', 'getSearchMethodInfo')->Get()?>" data-loading-text="<span class='ot-preloader-mini'></span>">
                                <?=$searchMethod->GetDisplayName()?>
                            </a>
                        </li>
                    <? } ?>
                </ul>
                <div class="tab-content">
                    <div id="searchMethodsMetaUI"></div>
                </div>
            </div>
        <? } ?>
    </div>
</div>
<? AssetsMin::registerJsFile('/admin/js/ot-config-system-search-settings.js'); ?>

<? AssetsMin::jsBegin(); ?>
<script type="text/javascript">
$(window).load(function() {
    $('.searchMethod:first').click();
});
</script>
<? $strScript = AssetsMin::jsEnd(); ?>
<? AssetsMin::registerJs($strScript); ?>

</div>