<div class="container content-main product-listing">
    <div class="row">
		<aside class="col-md-3 col-sm-4 col-xs-12 content-aside left_column sidebar-offcanvas ">
    		<span id="close-sidebar" class="fa fa-times" aria-hidden="true"></span>
    		<div class="so_filter_wrap block-shopby">
        		<div class="so_filter_wrap block-shopby">
                    <div class="list-group">
                        <? foreach ($blogCategories as $category) { ?>
                            <a href="<?=UrlGenerator::generatDigestUrl('digest',$category['cid'])?>" class="list-group-item"><?=$category['title']?></a>			
                        <? } ?>
			        </div>
        		</div>
    		</div>
		</aside>
		
		<div class="col-md-9 col-sm-12 col-xs-12 fluid-sidebar">
    		<a href="javascript:void(0)" class="open-sidebar hidden-lg hidden-md"><i class="fa fa-bars" aria-hidden="true"></i> Боковое меню</a>
    		<div class="sidebar-overlay "></div>
            <h1><?=$this->escape($post['title'])?></h1>
                <? if ($post['image']) { ?>
                    <a href="<?=DigestRepository::getImage($post['image'], 'large')?>" class="pic cboxElement pictures" id="main-image-href">
                        <img id="main-image" src="<?=DigestRepository::getImage($post['image'], 'big')?>" default="css/i/default-image.gif" alt="">
                    </a>
                <? } ?>
                <?=$post['content']?>
		</div>
    </div>
</div>