<? OTBase::import('system.lib.helpers.IDN'); ?>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>☼ <?=LangAdmin::get('Admin_panel')?></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<?=LangAdmin::get('Admin_panel')?>">
    <meta name="viewport" content="width=device-width">

    <!-- Fremavorks -->
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap-responsive.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/vendor/font-awesome.min.css">

    <!-- Themes -->
    <link rel="stylesheet" href="css/vendor/vendor-themes.css">

    <!-- OT application -->
    <link rel="stylesheet" href="css/ot/ot-custom.css">
    <link rel="stylesheet" href="css/ot/ot-app.css">
    <link rel="stylesheet" href="css/ot/ot-pages.css">
    <link rel="stylesheet" href="css/ot/ot-responsive.css">

</head>
<body>

<!-- global header -->
<header id="header" class="header">

    <!-- navbar -->
    <div class="navbar ot_utility_nav">

        <div class="row-fluid">

            <div class="brand_wrap">
                <a class="brand" href="<?=UrlGenerator::getProtocol()?>://<?=$_SERVER['SERVER_NAME']?>" title="<?=LangAdmin::get('Go_to_site')?>"><?=IDN::decodeIDN($_SERVER['SERVER_NAME'])?></a>
            </div><!-- .brand_wrap -->
            <div class="pull-right">

                <!-- admin interface language -->
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#" title="<?=LangAdmin::get('Language_select_for_admin')?>">
                        <span class="currentLang"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-value="Ru" href="#" id="ru">Ru</a></li>
                        <li><a data-value="Eng" href="#" id="en">Eng</a></li>
                        <!--li><a data-value="Ch" href="#" id="zh-chs">Ch</a></li-->
                    </ul>
                </div>
                <!-- /admin interface language -->

            </div>
        </div><!-- /row-fluid -->

    </div><!--/.navbar .ot_utility_nav -->

</header><!-- /.header -->

<section id="wrapper">

    <div class="row-fluid">

        <div class="ot_content">

            <div class="row-fluid">

                <!--[if lt IE 7]>
                <div class="alert alert-block">
                    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
                </div>
                <![endif]-->

                <noscript>
                    <div class="alert alert-block span10">
                        <h4 class="alert-heading">Warning!</h4>
                        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                    </div>
                </noscript>

                <!-- auth form-->
                <div class="span6 offset3 well">

                    <h1><?=LangAdmin::get('Authorization')?></h1>



                    <? if($error){ ?>
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a><?=$error?>
                    </div>
                    <? } ?>

                    <form class="form-horizontal ot_form ot_auth_form" method="POST" action="<?=$PageUrl->Get()?>">
                        <div class="control-group">
                            <label class="control-label" for="ot_auth_login"><?=LangAdmin::get('Login')?></label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span>
                                    <input class="input-medium" id="ot_auth_login" type="text" name="login" required="" autofocus="autofocus" value="<?= isset($login) ? $login : ''?>"/>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="ot_auth_password"><?=LangAdmin::get('Password')?></label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span>
                                    <input class="input-medium" id="ot_auth_password" type="password" name="password" required="" value="<?= isset($password) ? $password : ''?>"/>
                                </div>
                            </div>
                        </div>

                        <? if (General::getConfigValue('auth_capcha_admin')){ ?>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <img id="siimage" style="border: 1px solid #000; margin-right: 15px" src="../lib/securimage/securimage_show.php?sid=<?php echo md5(uniqid()) ?>" alt="CAPTCHA Image" align="left">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <?php echo @$_SESSION['ctform']['captcha_error'] ?>
                                    <input type="text" name="ct_captcha" class="captchainp" size="12" maxlength="8" />
                                </div>
                            </div>
                        </div>
                        <? } ?>



                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" name="submit" class="btn btn-primary" data-loading-text="<?=LangAdmin::get('loading')?>..."><?=LangAdmin::get('Log_in')?></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div><!--/.content-->

    </div><!--/fluid-row-->

    <div id="underground"></div>

</section><!-- /#wrapper -->

<!-- global footer -->
<footer id="footer">
    <div class="row-fluid">
        <a href="http://otcommerce.com/" class="ot_copyright"><i class="ot_logo offset-left1"></i>otcommerce.com</a>
    </div>
</footer>




<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<!-- bootstrap -->
<script src="js/vendor/bootstrap.min.js"></script>
<!-- fixing elements to the top when scroling content -->
<script src="js/vendor/waypoints.min.js"></script>
<script src="js/vendor/waypoints-sticky.min.js"></script>

<!-- datatables plugin — powerfull extention for tables -->
<script src="js/vendor/DataTables/js/jquery.dataTables.js"></script>
<script src="js/vendor/dataTables-bootstrap.js"></script>
<script src="js/vendor/FixedHeader.js"></script>

<!-- Making long tabs into dropdown one -->
<script src="js/vendor/bootstrap-tabdrop.js"></script>

<!-- inline-editable -->
<script src="js/vendor/bootstrap-editable.js"></script>

<!-- clickable tooltips -->
<script src="js/vendor/bootstrapx-clickover.js"></script>

<form action="index.php" method="post">
    <input type="hidden" id="lang" name="lang" value="" />
    <input type="hidden" id="authpage" name="authpage" value="1" />
</form>
<? AssetsMin::jsBegin(); ?>
<script type="text/javascript">
    $(document).ready(function(){
        $('#ru, #en, #zh-chs').click(function(){
            $('#lang').val( $(this).attr('id') );
            $('#lang').closest('form').submit();
            return false;
        });
        $('.currentLang').html($('#<?=Session::getActiveAdminLang()?>').data('value'));
        $('#<?=Session::getActiveAdminLang()?>').remove();
    });
</script>
<? $strScript = AssetsMin::jsEnd(); ?>
<? AssetsMin::registerJs($strScript); ?>
<?=AssetsMin::printJs()?>
</body>
</html>
