<div class="control-group control-group-medium textarea-control">
    <label class=""><?=$displayName?>
        <? if ($description) { ?>
            <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-content="<?=TextHelper::escape($description)?>"></i>
        <? } ?>
    </label>
    <div class="<?=$name?>-container">
        <textarea id="<?=$name?>" <?=$requireReload ? 'require-reload="true"' : '' ?> name="<?=$name?>"><?=$currentValue?></textarea>
    </div>
    <div class="button-container">
        <? if ($isReadOnly == 0) { ?>
            <button type="submit" class="btn btn-primary editable-submit <?=$name?>"><i class="icon-ok icon-white"></i></button>
        <? } ?>
        <? if ($nameCanByReset) { ?>
            <button type="submit" class="btn <?=$nameCanByReset?>" title="<?=LangAdmin::get("By_default")?>"><i class="icon-refresh"></i></button>
        <? } ?>
    </div>
    <?=General::viewFetch('meta-ui/type/placeholders', array('path' => CFG_VIEW_ROOT, 'vars' => array('placeholders' => $placeholders, 'name' => $name, 'type' => $type)))?>
</div>
<div style="clear: both;"></div>

<script>
    var customURLConverter = function (url, node, on_save, name) {
        if (node === 'img' && name === 'src') {
            url = tinyMCE.activeEditor.documentBaseURI.toAbsolute(url, false); // false -> remove_script_host
        }
        return url;
    }

    $(function(){
        var container = $('#<?=$name?>').closest('div.meta-ui-container');
        var updateSettingsUrl = $(container).attr('update-settings-url') + '&type=Html';
        $('button.<?=$name?>').addClass('disabled');


        var onChange = function() {
            $('button.<?=$name?>').removeClass('disabled');
            $('button.<?=$name?>').removeAttr('disabled');
        };
        
        $('<?=$name?>').change(onChange);
        
        $('button.<?=$name?>').click(function () {
            var value = $('#<?=$name?>').val();
            if (tinyMCE && tinyMCE.editors.length > 0) {
                value = tinyMCE.editors['<?=$name?>'].getContent();
            }
            $('button.<?=$name?>').attr('disabled','disabled');
            $('button.<?=$name?>').addClass('btn_preloader');
            $('button.<?=$name?> i').hide();
            $.post(
                    updateSettingsUrl,
                    {
                        "value": value,
                        "name": '<?=$name?>',
                    },
                    function (data) {
                        if (!data.error) {
                            showMessage(trans.get('Data_save_success'));
                            $('button.<?=$name?>').removeClass('btn_preloader');
                            $('button.<?=$name?>').addClass('disabled');
                            $('button.<?=$name?> i').show();
                            $('button.<?=$name?>').attr('disabled', 'disabled');
                            if ($('#<?=$name?>').attr('require-reload') == 'true') {
                                if ($('#<?=$name?>').closest('.allow-reload').length > 0) {
                                   var container = $('#<?=$name?>').closest('.allow-reload');
                                   var url = $(container).attr('reload-url');
                                   if (url) {
                                       $.post(url, {}, function (data) {
                                           if (! data.error) {
                                               $(container).html(data.html);
                                           } else {
                                               showError(data);
                                           }
                                       }, 'json').error(function(xhr, ajaxOptions, thrownError){
                                           showError(xhr.responseText);
                                       });                                
                                       return;
                                   }
                                }                       
                                location.reload();
                            }
                        } else {
                            showError(data);
                            var container = $('#<?=$name?>').closest('.control-group');
                            $('#<?=$name?>', container).addClass('error');
                            return false;
                        }
                    }, 'json'
            );

            return false;
        });

        <? if ($nameCanByReset) { ?>
            $('button.<?=$nameCanByReset?>').click(function () {
                modalDialog(trans.get('Confirm_needed'), trans.get('Really_set_default_value'), function () {
                    $('button.<?=$nameCanByReset?>').attr('disabled', 'disabled');
                    $('button.<?=$nameCanByReset?>').addClass('btn_preloader');
                    $('button.<?=$nameCanByReset?> i').hide();
                    $.post(
                        updateSettingsUrl,
                        {
                            "name": '<?=$nameCanByReset?>',
                            "value": 'true',
                            "type": 'Text'
                        },
                        function (data) {
                            if (!data.error) {
                                showMessage(trans.get('Data_save_success'));
                                $('button.<?=$nameCanByReset?>').removeClass('btn_preloader');
                                $('button.<?=$nameCanByReset?>').addClass('disabled');
                                $('button.<?=$nameCanByReset?> i').show();
                                $('button.<?=$nameCanByReset?>').attr('disabled');


                                if ($('#<?=$name?>').closest('.allow-reload').length > 0) {
                                    var container = $('#<?=$name?>').closest('.allow-reload');
                                    var url = $(container).attr('reload-url');
                                    if (url) {
                                        $.post(url, {}, function (data) {
                                            if (!data.error) {
                                                $(container).html(data.html);
                                            } else {
                                                showError(data);
                                            }
                                        }, 'json').error(function (xhr, ajaxOptions, thrownError) {
                                            showError(xhr.responseText);
                                        });
                                        return;
                                    }
                                }
                                location.reload();
                            } else {
                                showError(data);
                                var container = $('#<?=$name?>').closest('.control-group');
                                $('#<?=$name?>', container).addClass('error');
                                return false;
                            }
                        }, 'json'
                    );
                });
                return false;
            });
        <? } ?>
        
        if (tinyMCE && tinyMCE.editors.length > 0) {
        	console.log('tinyMCE: ', tinyMCE);
            var count = tinyMCE.editors.length;
            for ( var int = count-1; int >= 0; int--) {
                tinyMCE.remove(tinyMCE.editors[int]);
            }
        }

        initializeTinyMCE('#<?=$name?>', {
            height: 230,
            width: 600,
            content_css : "../css/style.css",
            setup: function(ed) {
                ed.on('Change', function (e) {
                    onChange();
                });
            },
            <? if ($tinyMCEAbsoluteUrls) { ?>
                document_base_url: '<?=UrlGenerator::getHomeUrl()?>',
                urlconverter_callback: 'customURLConverter',
            <? } ?>
            <? if ($isReadOnly != 0) { ?>
                readonly : 1
            <? } ?>
        });
    });
</script>
<style>
    .<?=$name?>-container {
        float: left;
        margin-right: 10px;
    }
    .button-container {
        float: left;
    }
    .button-container button.btn-primary{
    }
    .button-container button.btn_preloader{
        padding-right: 20px!important;
        height: 28px;
        width: 35px;
        background-position: 10px;
    }
</style>