<? foreach ($menu as $item) { ?>
    <div class="bgr-block">
        <div class="titlecat bbn">
            <a href="<?=$item['url']?>" title="<?=$this->escape($item['title'])?>" class="<?=$item['active'] && !$item['hasActiveChildren'] ? 'active' : ''?>">
                <?=$this->escape($item['title'])?>
            </a>
        </div>
        <? if (!empty($item['children'])) { ?>
            <ul class="listitem">
                <? foreach ($item['children'] as $child) { ?>
                    <li class="item">
                        <a href="<?=$child['url']?>" title="<?=$this->escape($child['title'])?>" class="<?=!(empty($child['active'])) ? 'active' : ''?>"><?=$this->escape($child['title'])?></a>
                    </li>
                <? } ?>
            </ul>
        <? } ?>
    </div>
<? } ?>