<div class="editableform-loading" id="<%=id%>-loader" style="display: none; width: 250px"></div>
<form id="<%=id%>-form" style="margin-bottom: 0px">
    <input placeholder="<%=trans.get("Start_typing_login")%>" type="text" class="input-medium"
            id="<%=id%>" style="margin-bottom: 0px"  autocomplete="off">
    <div class="editable-buttons">
        <button type="submit" id="<%=id%>-submit" class="btn btn-primary editable-submit"><i class="icon-ok icon-white"></i></button>
        <button type="button" id="<%=id%>-cancel" class="btn editable-cancel"><i class="icon-remove"></i></button>
    </div>
</form>
