<style>
input.rform, textarea.rform {
    width:400px;
    border:1px solid gray;
    margin:2px;
    padding:3px;
}
textarea.rform {
    width:408px;
    height:53px;
}
table.rform td {
    padding:3px;
    vertical-align:middle;
    padding-top:10px;
}
.content {font-size: 16px;}
#download_form {font-size: 14px;}
</style>

<div class="spacer mb20"><div class="wrap clrfix"></div></div>
<div class="main"><div class="wrap clrfix">
    <!-- .col700 -->
    <h1><?=Lang::get('demobox_page_title')?></h1>
    <div class="col700">
        <div class="content userform">
            <ol>
                <li><?=Lang::get('demobox_step1')?></li>
                <li><?=Lang::get('demobox_step2')?></li>
                <li><?=Lang::get('demobox_step3')?></li>
                <li><?=Lang::get('demobox_step4')?></li>
                <li><?=Lang::get('demobox_step5')?></li>
                <li><?=Lang::get('demobox_step6')?></li>
                <li><?=Lang::get('demobox_step7')?></li>
            </ol>

            <h6><?=Lang::get('demobox_form_title')?></h6>

            <form id="download_form" action="/?p=download" method="POST" onsubmit="return checkform();">
                <table class="rform">
                <tr><td align="center" colspan="2">
                <em><?=Lang::get('required_fields')?></em>
                </td></tr>

                <tr><td align="right"><?=Lang::get('demobox_form_name')?><font color="Red">*</font>:</td>
                <td><input class="rform" id="fio" name="fio" need="1" value="<?=isset($data['fio'])?$data['fio']:''?>"/></td></tr>

                <tr><td align="right"><?=Lang::get('demobox_form_email')?><font color="Red">*</font>:<br></td>
                <td><input class="rform" id="email" name="email" need="1" value="<?=isset($data['email'])?$data['email']:''?>"/></td></tr>

                <tr><td align="right"><?=Lang::get('demobox_form_skype')?>:<br></td>
                <td><input class="rform" id="skype" name="skype" value="<?=isset($data['skype'])?$data['skype']:''?>"/></td></tr>

                <tr><td align="right"><?=Lang::get('demobox_form_captcha')?><font color="Red">*</font>:</td>
                <td>
                    <span class="input">
                        <img id="siimage" style="border: 1px solid #000; margin-right: 15px" src="./lib/securimage/securimage_show.php?sid=<?=md5(uniqid())?>" alt="CAPTCHA Image" align="left">
                        <object type="application/x-shockwave-flash" data="./lib/securimage/securimage_play.swf?audio_file=./lib/securimage/securimage_play.php&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000" height="32" width="32">
                        <param name="movie" value="./lib/securimage/securimage_play.swf?audio_file=./lib/securimage/securimage_play.php&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000">
                        </object>
                        &nbsp;
                        <a tabindex="-1" style="border-style: none;" href="#" title="Refresh Image" onclick="document.getElementById('siimage').src = './lib/securimage/securimage_show.php?sid=' + Math.random(); this.blur(); return false"><img src="./lib/securimage/images/refresh.png" alt="Reload Image" onclick="this.blur()" align="bottom" border="0"></a><br />
                        <?=Lang::get('input_captcha')?>:<br />
                        <input need="1" type="text" name="ct_captcha" id="ct_captcha" class="captchainp form-field" size="12" maxlength="8" />
                    </span>
                </td></tr>

                <tr><td></td><td>
                    <input class="btn_office" type="submit" value="<?=Lang::get('demobox_download')?>"/>
                </td></tr>
                </table>
            </form>

            <h6><?=Lang::get('demobox_key_title')?></h6>
            <p><?=Lang::get('demobox_key_step1')?></p>
            <p><?=Lang::get('demobox_key_step2')?></p>
            <p><?=Lang::get('demobox_key_step3')?></p>
            <p><?=Lang::get('demobox_key_step4')?></p>
            <p><?=Lang::get('demobox_key_step5')?></p>
        </div><!-- /.content -->

    </div>
    <!-- /.col700 -->
</div></div><!-- /.main -->

<script>
var captchaError = "<?=Session::getErrorDescription('incorrect_code')?>";
if (captchaError) {
    $('#ct_captcha').css('border', '1px solid red');
    $().toastmessage('showToast', {'text': captchaError, 'stayTime': 10000, 'type': 'error'});
}
var errors = <?=json_encode($errors);?>;
if (errors.length) {
    for (var i = 0; i < errors.length; i++) {
        $('#'+errors[i].key).css('border', '1px solid red');
    }
    $().toastmessage('showToast', {'text': "<?=Lang::get('required_fields')?>", 'stayTime': 10000, 'type': 'error'});
}
function checkform() {
    formOK = true;
    $('#download_form [need="1"]').each(function() {
        $(this).css('border', '1px solid gray');
        if (!formOK) return;
        if (!$(this).val()) {
            formOK = false;
            $(this).css('border', '1px solid red');
            $(this).focus();
            return;
        }
    });
    return formOK;
}
</script>