$bodyBackgroundColor: #ffffff;
$bodyBackgroundImage: none;
$bodyBackgroundRepeat: no-repeat;
$bodyBackgroundPosition: center 0px;
$bodyBackgroundAttachment: scroll;

$bodyMinWidth: 750px;
$bodyMaxWidth: 1920px;

$designColor1: #edefef;
$designColor2: #555656;

$bodyTextColor:  #333333;
$headersTextColor: #555656;
$borderColor: #c5cbcb;

$successColor: #5cb85c;
$infoColor: #428bca;
$warningColor: #eea236;
$dangerColor: #f63d45;

