/* messages (begin) */
.ui-dialog {
    border: 2px solid #999 !important;
    background: #333 !important;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    opacity: 0.9;
    color: #eee !important;
}
.ui-widget-header {    
    background: #666 !important;
    border:none !important; 
}
.ui-dialog .ui-dialog-buttonpane {    
    background-image: none;
    background: #333 !important;
}
.ui-dialog .ui-dialog-content {
    color: #eee !important;
}
.ui-icon-closethick {
     background:none !important;
} 
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close {
    padding: 0px !important;
    background:none !important;
    background-image: url(/css/libs/jquery/jquery.toastmessage/close.gif) !important;
    display:block !important;
    width:22px !important;
    height:22px !important;
    border:none !important;
}
.ui-dialog .ui-dialog-buttonpane {   
    border-width: 0 0 0 0 !important;    
}
.ui-widget button {    
    border: 1px solid #000 !important;
    background: #666 !important;
    color: #fff !important;
}
.ui-widget button :hover {        
    background: #000 !important;
}
#error-dialog, #dialog-empty {
    color:coral !important;
    font-weight: bold !important;
}
#ui-dialog-title-error-dialog, #ui-dialog-title-dialog-empty {
    color:coral !important;
}
#dialog-sell-out, #change-window {
    background: gainsboro !important;
    color : #000  !important;
}
#dialog-sell-out {
    width:60%;
}
#pristroy_desc_tbl {
    background: #fff;
}
.toast-item {
    padding-top: 30px !important;
}
#change-window select{
    width:300px;
}
/* messages (end) */
