$bodyBackgroundColor: #ffffff;
$bodyBackgroundImage: none;
$bodyBackgroundRepeat: no-repeat;
$bodyBackgroundPosition: center 0px;
$bodyBackgroundAttachment: scroll;

$dangerColor:#f63d45;
$successColor:#5cb85c;
$infoColor:#428bca;
$warningColor:#eea236;

$designColor1: #fc8215;
$designColor2: #f3f3f3;

$borderColor: darken($designColor2, 30%);

$fontFamily: 'PT Sans', sans-serif;

$bodyTextColor: #000;