<?
/**
 * @var AdminUrlWrapper $PageUrl
 * @var NewsletterEntity $newsletter
 */
?>

<ul class="breadcrumb">
    <li><a href="."><i class="icon-home"></i></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('Promo', 'default')?>"><?=LangAdmin::get('Promo')?></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('Newsletters', 'default')?>"><?=LangAdmin::get('mailing')?></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('Newsletters', 'default')?>"><?=LangAdmin::get('mailing_list')?></a> <span class="divider">›</span></li>
    <? if ($PageUrl->GetKey('do') == 'add') { ?>
        <li class="active"><?=LangAdmin::get('Newsletter_creation')?></li>
    <? } else { ?>
        <li class="active"><?=LangAdmin::get('Newsletter_edit')?> «<?=LangAdmin::get('Mailing_title')?>»</li>
    <? } ?>
</ul>
<!--/.breadcrumb-->

<? require TPL_ABSOLUTE_PATH . 'promo/inc/tabs.php'; ?>

<div class="tabbable ot_sub_sub_nav">
    <ul class="nav nav-pills">
        <li <? if(in_array($PageUrl->GetAction(), array('default', 'add', 'edit'))){ ?>class="active"<?} ?>><a href="<?=$PageUrl->AssignDo('default')?>"><?=LangAdmin::get('mailing_list')?></a></li>
        <li <? if($PageUrl->GetAction() == 'subscribers'){ ?>class="active"<?} ?>><a href="<?=$PageUrl->AssignCmdAndDo('Subscribers', 'default')?>"><?=LangAdmin::get('subscribers')?></a></li>
        <li <? if($PageUrl->GetAction() == 'config' && $PageUrl->GetCmd() == 'Newsletters'){ ?>class="active"<?} ?>><a href="<?=$PageUrl->AssignCmdAndDo('Newsletters', 'config')?>"><?=LangAdmin::get('config')?></a></li>
    </ul>
</div>

<h1>
    <? if ($PageUrl->GetKey('do') == 'add') { ?>
        <?=LangAdmin::get('Newsletter_creation')?>
    <? } else { ?>
       <?=LangAdmin::get('Newsletter_edit')?> «<?=$this->escape($newsletter->getTitle())?>»
    <? } ?>
</h1>

<div class="well" id="content">

    <form method="post" action="<?=$PageUrl->AssignCmdAndDo('Newsletters', 'save')?>" class="form-horizontal ot_form" id="edit-form">

        <input type="hidden" name="id" value="<?=$newsletter->GetId()?>">

        <div class="control-group">
            <label class="control-label"><?=LangAdmin::get('mailing_subject')?></label>
            <div class="controls">
                <input name="title" value="<?=$this->escape($newsletter->getTitle())?>" class="input-xxlarge" type="text" required="required" title="<?=LangAdmin::get('Required_field')?>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"><?=LangAdmin::get('mailing_body')?></label>
            <div class="controls">
                <textarea id="text" name="text" cols="30" rows="10" class="input-xxlarge"><?=$newsletter->getText()?></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"><?=LangAdmin::get('mailing_test_email')?> <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-placement="bottom" data-content="<?=LangAdmin::get('mailing_test_email_hint')?>"></i></label>
            <div class="controls">
                <input id="test-email" name="test-email" class="input-large email" type="text" placeholder="admin-mail@domain.ltd">
                <a id="test-newsletter" class="btn btn_preloader" data-loading-text="<i class='icon-share-alt'></i> <?=LangAdmin::get('mailing_test')?>" title="<?=LangAdmin::get('mailing_send_test_message')?>"><i class="icon-share-alt"></i> <?=LangAdmin::get('mailing_test')?></a>
            </div>
        </div>


        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn_preloader" data-loading-text="<?=LangAdmin::get('Save')?>" name="save" value="1"><?=LangAdmin::get('Save')?></button>
            <? if (!$newsletter->isBeingSent()) { ?>
            <button type="submit" class="btn btn-primary btn_preloader offset-left05 " name="send" value="1" data-loading-text="<i class='icon-envelope-alt font-14'></i> <?=LangAdmin::get('mailing_send')?>"> <i class="icon-envelope-alt font-14"></i> <?=LangAdmin::get('mailing_send')?></button>
            <? } ?>
            <a href="<?=$PageUrl->AssignCmdAndDo('Newsletters', 'default')?>" type="button" class="btn offset-left3 btn_preloader" data-loading-text="<?=LangAdmin::get('Cancel')?>"><?=LangAdmin::get('Cancel')?></a>
        </div>
    </form>

    <div class="hidden-element defaultTemplate">
        <?=General::viewFetch('other/newsletters-tpl', ['path' => CFG_VIEW_ROOT])?>
    </div>
</div>



<? AssetsMin::registerJsFile('/admin/js/ot-newsletters.js'); ?>