
<ul class="breadcrumb">
    <li><a href="."><i class="icon-home"></i></a> <span class="divider">›</span></li>
    <li><a href="promo/seo"><?=LangAdmin::get('Seo')?></a> <span class="divider">›</span></li>
    <li><a href="promo/referals"><?=LangAdmin::get('Referal_programs')?></a> <span class="divider">›</span></li>
    <li><a href="promo/referals/category">«<?="Category name"?>»</a> <span class="divider">›</span></li>
    <li class="active"><?=LangAdmin::get('category_edit')?></li>
</ul>
<!--/.breadcrumb-->

<? require TPL_ABSOLUTE_PATH . 'promo/inc/tabs.php'; ?>

<h1><?=LangAdmin::get('category_edit')?> «<?="Category name"?>»</h1>

<div class="well">

    <form method="post" action="pricing/discount" class="form-horizontal ot_form">
        <fieldset>

            <div class="control-group control-group-medium">
                <label class="control-label"><?=LangAdmin::get('category_name')?> <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-placement="top" data-content=""></i></label>
                <div class="controls">
                    <input id="textinput" name="textinput" class="input-xlarge" type="text" required="required">
                </div>
            </div>

            <div class="control-group control-group-medium">
                <label class="control-label"><?=LangAdmin::get('category_profit_percent')?> <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-placement="bottom" data-content=""></i></label>
                <div class="controls">
                    <div class="input-append">
                        <input placeholder="0" class="input-mini" type="text">
                        <span class="add-on">%</span>
                    </div>
                </div>
            </div>

            <div class="control-group control-group-medium">
                <label class="control-label"><?=LangAdmin::get('category_min_orders_sum')?> <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-placement="bottom" data-content=""></i></label>
                <div class="controls">
                    <div class="input-append">
                        <input placeholder="0" class="input-mini numeric" type="text">
                        <span class="add-on">USD</span>
                    </div>
                </div>
            </div>

        </fieldset>


        <div class="control-group control-group-medium">
            <!-- buttons for prototype only -->
            <div class="controls">
                <a href="promo/referals/category" class="btn btn-primary btn_preloader" data-loading-text="<?=LangAdmin::get('Save')?>"><?=LangAdmin::get('Save')?></a>
                <a href="<?=$PageUrl->AssignDo('referals')?>" class="btn offset-left1 btn_preloader" data-loading-text="<?=LangAdmin::get('Cancel')?>"><?=LangAdmin::get('Cancel')?></a>
            </div>
            <!-- buttons for master application -->
            <!--<div class="controls">
                <button type="submit" class="btn btn-primary btn_preloader" data-loading-text="<?=LangAdmin::get('Save')?>"><?=LangAdmin::get('Save')?></button>
                <button type="button" class="btn offset1 btn_preloader" data-loading-text="<?=LangAdmin::get('Cancel')?>"><?=LangAdmin::get('Cancel')?></button>
            </div>-->
        </div>


    </form>

</div>





