<div id="overlay"></div>
<div id="overlay-progressbar" class="overlay-progressbar">
    <p><?=Lang::get('please_wait_basket_checking');?></p>
    <div id="progress" class="progress">
        <div id="progressBar" class="progress-bar progress-bar-info progress-bar-striped active js-progress-bar">0%</div>
    </div>
</div>
<div id="overlay-no-preloader" class="search-preloader js-overlay-no-preloader" align="center">
    <img src="css/i/ajax-loader-white.gif" style="padding-top:300px"><br>
    <span class="message js-overlay-no-preloader-message">
        <?=Lang::get("search_for_products")?>
    </span>
</div>