<? if (!empty($info['title'])) { ?>
    <h1 class="search-content-info-title"><?= $this->escape($info['title']) ?></h1>
<? } ?>
<? if (!empty($info['img'])) { ?>
    <div class="search-content-info-img">
        <img src="<?= $info['img'] ?>" <?= (!empty($info['title'])) ? 'title="' . $this->escape($info['title']) . '"' : '' ?> />
    </div>
<? } ?>
<? if (!empty($info['description'])) { ?>
    <div class="search-content-info-description"><?= $info['description'] ?></div>
<? } ?>
<div class="clearfix"></div>