<? if (!empty($blog) && $blog !== -1) { ?>
    <section class="block-blog">
        <div class="center">
            <div class="block__title">
                <span><?=Lang::get('post')?></span>
                <a href="<?=UrlGenerator::toRoute('digest')?>"><?=Lang::get('all_blog')?></a>
            </div>

            <div class="block-blog__wrap">
                <? foreach ($blog as $item) { ?>
                    <?
                    $url = UrlGenerator::generatPostUrl('post', $item['id'], $item['alias']);
                    $date = $item['created'];
                    $item['created'] = $date->format('Y-m-d H:i:s');
                    ?>
                    <div class="blog-item">
                        <a href="<?=$url?>" class="blog-item__img"
                           style="background-image: url(<?= $item['image'] ? DigestRepository::getImage($item['image'], 'thumb') : '/i/noimg.png'?>);">
                        </a>
                        <div class="blog-item__text">
                            <div class="blog-item__date"><?=TextHelper::date($item['created']) ?></div>
                            <a href="<?=$url?>" class="blog-item__title"><?=$this->escape($item['title'])?></a>
                        </div>
                    </div>
                <? } ?>
            </div>
        </div>
    </section>

    <? AssetsMin::jsBegin(); ?>
    <script>
        $(function () {
            $('.block-blog__wrap').slick({
                dots: false,
                speed: 500,
                arrows: true,
                autoplay: true,
                fade: false,
                vertical: false,
                slidesToShow: 5,
                slidesToScroll: 1,
                rtl: <?=(General::getConfigValue('rtl')) ? 'true' : 'false'?>,
                responsive: [{
                    breakpoint:1280,
                    settings: {
                        slidesToShow: 4,
                        arrows:false
                    }
                },
                    {
                        breakpoint:1024,
                        settings: {
                            slidesToShow: 3,
                            arrows:false
                        }
                    },
                    {
                        breakpoint:480,
                        settings: {
                            slidesToShow: 1,
                            arrows:false
                        }
                    }
                ]
            });
        });
    </script>
    <? $strScript = AssetsMin::jsEnd(); ?>
    <? AssetsMin::registerJs($strScript); ?>
<? } ?>