<div class="footer-bottom">
    <div class="center">
        <div class="footer-text-left">
            <a href="https://otcommerce.com" target="_blank" title="<?=Lang::get('powered_by_ot_commerce')?>" rel="author" class="logo">
                <img src="<?=General::getThemeWebDir()?>/img/logo.png" alt="OT Commerce">
            </a>
            © <time><?=General::getConfigValue('copyright_year_from', 2011)?>&ndash;<? echo date('Y');?></time> <?=General::getConfigValue('site_name')?>.
            Powered by © OT Commerce <a href="https://otcommerce.com/" target="_blank">otcommerce.com</a>
        </div>
    </div>
</div>