
                    <p class="message-box operator new">                    
                    <span class="message">
                        <strong><i class="icon-envelope"></i>                                      
                        <%= trans.get('Operator') %>                        
                        </strong>
                        <span class="message-time"><%= date %></span>
                        <span class="message-text"><%= message %></span>
                    </span>
                    </p>