.menu-aside {
	display: none;
}

.payment-w img {
    min-height: 40px;
    max-height: 40px;
    position: relative;
}

@media (max-width: 767px) {
	.menu-aside {
		display: block
	}
	
	.accordion-menu-page {
		display: none;
	}
	
	.logo a img {
		height: auto;
		position: relative;
		top: -20px;
		left: 0;   
	} 
	.layout-24 .content-top {
		padding-right: 0!important;
	}
	#box-search-form_providers,
	.price .price-old,
	.product-item-container .addToCart {
		display: none;
	}
	
	.so-extraslider .item {
		position: relative;
		display: block;
		width: 46%;
		float: left;
		margin: 2%;
	}
	
	.recommended-vendors-section .col-md {
		width: 31.3%;
		padding: 5px;
		float: left;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin: 1%;
	}
	
	.block-policy24 ul li .item-inner .content:before {
		left: 0px;
	}
	
	.block-policy24 ul li .item-inner .content {
		padding-left: 75px;
	}
	
	.layout-24.common-home #content .product-grid9 .product-item-container .right-block {
		padding: 0 0 20px 0;
	}
	
	.controller-basket .item-to-order {
		position: absolute;
	}
	
	.js-basket-line {
		//overflow: hidden;
	}
	
	.cTb1,
	.cTb2 {
		width: 100%!important;
	}
	
	.basket td {
		padding: 5px;
	}
	
	#photo-search {
		overflow: hidden;
		position: absolute;
		top: 3px;
		right: 37px;
		z-index: 3;
		background: #fff;
		padding: 5px 15px;
	}
	
	#accordion-delivery .accordion-group .accordion-heading .accordion-toggle .selectize-control {
		min-width: 100%;
	}
	
	#accordion-delivery .accordion-group .accordion-heading .accordion-toggle .selectize-control .title {
		font-weight: normal;
	    min-width: 70px;
	}
	
	#orderpay .col-wd,
	#orderpay .col-md {
		width: 100%;
		margin: 0;
	}
}

.recommended-vendors-section .item-list_img-wrap,
.product-image-container {
	width: 100%;
	position: relative;
	height: 0px;
	padding-top: 100%;
	overflow: hidden;
}

.recommended-vendors-section .sets-product-item img,
.product-image-container img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	min-height: 0px;
}

.content-favourite-vendors .content-favourite-vendors-list {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor {
  position: relative;
  width: 230px;
  display: flex;
  margin: 22px 22px 0 0;
  background: #c5cbcb;
  flex-direction: column;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-image a, .content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-image span {
  position: relative;
  width: 230px;
  height: 230px;
  float: left;
  background: #fff;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-image a img, .content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-image span img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data {
  width: 230px;
  padding: 5px 10px;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data .favourite-vendor-data-row {
  display: flex;
  justify-content: space-between;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data .favourite-vendor-data-row span .i-raiting {
  background-position: center !important;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data .favourite-vendor-data-row span .ratyScore {
  margin-right: 3px;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data .favourite-vendor-data-row span:first-of-type:not(.badge) {
  width: 60%;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data .favourite-vendor-data-row span:last-of-type:not(.rating):not(.badge) {
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .favourite-vendor-data .favourite-vendor-data-row span.badge {
  margin-bottom: 2px;
  width: 100%;
}
.content-favourite-vendors .content-favourite-vendors-list .favourite-vendor .remove_vendor {
  position: absolute;
  top: 5px;
  left: 5px;
}

.js-basket-line-quantity {
	width: 50px;
	text-align: center;
}

.controller-basket .basket {
	font-size: 13px;
}

.controller-basket .num-controls {
	display: none;
}

.js-basket-comment-btn {
	display: inline-block;
	padding: 5px 0px 0px;
	border-bottom: 1px dashed;
	margin-bottom: 10px;	
}

.js-basket-comment-textarea {
	display: block!important;
}

.controller-basket .w100 {
	width: 13%;
}

.controller-basket .item-to-order {
	width: 3%;
}

.controller-basket .itemConfiguration {
	width: 50%;
}

.controller-basket .DisplayPrice {
	width: 24%;
}

.lproduct.w100li {
	padding-top: 30px;
}

.flr {
	float: right;
}

.bgr-panel .bbprice.bigTotal span {
	margin-left: 0;
}

.categories-icons li, .categories-list li {
	width: 20%;
	float: left;
	padding: 1px
}

.categories-icons li a, .categories-list li a {
	display: flex;
	align-items: center;
	padding: 15px;
	height: 77px;
	width: 100%;
	float: left
}

.categories-icons {
	margin-bottom: 40px
}

.categories-icons a {
	background-color: #f3f3f3
}

.categories-icons a i {
	margin-right: 12px
}

.categories-icons li:hover>a {
	background-color: #ff5d25;
	color: #fff
}

.categories-list li:hover>a {
	color: #ff5d25
}

.categories-list__wrap {
	padding: 25px 0;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3
}

.categories-list__wrap h3 {
	margin-bottom: 26px
}

.owl2-stage .owl2-item .item  {
	width: 100%;
}

.search-header-w .icon-search:before {
	display: none;
}

@media screen and (max-width: 480px) {
	.categories-icons li, .categories-list li {
		width: 100%;
		float: left;
		padding: 1px;
	}
}