<ul class="breadcrumb">
    <li><a href="."><i class="icon-home"></i></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('contents', 'default')?>"><?=LangAdmin::get('contents::Content')?></a> <span class="divider">›</span></li>
    <li class="active"><?=LangAdmin::get('contents::News')?></li>
</ul>
<!--/.breadcrumb-->

<?=TabsGenerator::GetTabs('templates/contents/navigation/tabs.xml', $PageUrl)?>

<div class="row-fluid contents-wrapper">

    <div class="span6">

        <div class="row-fluid">

            <div class="span10">
                <h1>
                    <?=LangAdmin::get('contents::News')?>
                    <a href="<?=$PageUrl->AssignCmdAndDo('contents', 'addNews')?>" autocomplete="off" data-loading-text="<?=LangAdmin::get('contents::Add')?>" class="btn btn-tiny btn-primary btn_preloader weight-normal offset-left3" title="<?=LangAdmin::get('contents::Add_news')?>"><?=LangAdmin::get('contents::Add')?></a>
                </h1>
            </div>

            <div class="span2 offset-top1">
                <!-- site language -->
                <div id="activeLanguagesContainer"></div>
                <!-- /site language -->
            </div>

        </div>

        <div class="text-right">
            <select class="input-mini" id="perpage">
                <? foreach ($paginator->perPageLimits() as $perPageLimit) { ?>
                    <option value="<?=$perPageLimit?>" <?=($perPageLimit == $paginator->limit() ? ' selected="selected"' : '');?>><?=$perPageLimit?></option>
                <? } ?>
            </select>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="span9"><?=LangAdmin::get('contents::Title')?></th>
                    <th class="span2"><?=LangAdmin::get('contents::Language')?></th>
                    <th class="span1"><?=LangAdmin::get('contents::Actions')?></th>
                </tr>
            </thead>

            <tbody>
                <?php foreach ($newsList as $news) { ?>
                <tr id="<?=$news['id']?>">
                    <td><a target="_blank" href="/index.php?p=news&id=<?=$news['id']?>" title="<?=LangAdmin::get('contents::Go_to_news')?>"><?=$this->escape($news['title'])?></a></td>
                    <td><nobr><?=$news['lang_name']?></nobr></td>
                    <td>
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle"><i class="icon-cog"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="edit_news"title="<?=LangAdmin::get('contents::Edit_news')?>"><i class="icon-pencil"></i> <?=LangAdmin::get('contents::Edit')?></a></li>
                                <li><a href="#" title="<?=LangAdmin::get('contents::Delete_news')?>" class="ot_show_deletion_dialog_modal"><i class="icon-remove"></i> <?=LangAdmin::get('contents::Delete')?></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
        
        <?php $paginator->display(); ?>

    </div>
</div>



<? AssetsMin::registerJsFile('/admin/js/ot-contents-news.js'); ?>