<ul class="breadcrumb">
    <li><a href="/admin/"><i class="icon-home"></i></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignDo('default')?>" class="muted"><?=LangAdmin::get('Catalog')?></a> <span class="divider">›</span></li>
    <li><a href="<?=$PageUrl->AssignCmdAndDo('restrictions', 'default')?>" class="muted"><?=LangAdmin::get('Restrictions')?></a> <span class="divider">›</span></li>
    <li class="active"><?=LangAdmin::get('Searches')?></li>
</ul><!--/.breadcrumb-->
<?=TabsGenerator::GetTabs('templates/catalog/navigation/tabs.xml', $PageUrl)?>

<?=TabsGenerator::GetSubTabs('templates/restrictions/navigation/tabs.xml', $PageUrl)?>

<h1><?=LangAdmin::get('Searches')?>
    <span class="offset-left1"><span class="blink blink-iconed font-14 weight-normal" data-toggle="collapse" data-target=".ot_add_restriction_from_link"><i class="icon-plus"></i><?=LangAdmin::get('Add')?></span></span>
</h1>

<div id="restriction-wrapper">
<div class="ot_add_restriction_from_link">

    <form class="form-inline well" action="" data-action="<?=$PageUrl->AssignDo('addRestriction')?>" data-link="<?=$PageUrl->AssignDo('searches')?>" data-type="SearchString" >

        <?=LangAdmin::get('By_request_or_link')?> <i class="icon-question-sign ot_inline_help" data-toggle="popover" data-content="<?=LangAdmin::get('Restriction_search_by_link')?>"></i>

        <input class="span5 add-restriction-data" type="text" placeholder="<?=LangAdmin::get('Paste_request_or_link')?>">

        <button type="button" class="btn btn-primary btn_preloader add-restriction" data-action="<?=$PageUrl->AssignDo('addRestriction')?>" data-link="<?=$PageUrl->AssignDo('searches')?>" data-type="SearchString" data-loading-text="<?=LangAdmin::get('Add')?>"><?=LangAdmin::get('Add')?></button>
        <button type="button" class="btn offset-left05" data-target=".ot_add_restriction_from_link" data-toggle="collapse" title="<?=LangAdmin::get('Cancel')?>"><?=LangAdmin::get('Cancel')?></button>

    </form>

</div>



<div class="row-fluid">

    <div class="span6">
        <button class="btn btn-tiny disabled delete-restrictions" data-action="<?=$PageUrl->AssignDo('deleteRestriction')?>" data-link="<?=$PageUrl->AssignDo('searches')?>" data-type="SearchString" data-loading-text="<?=LangAdmin::get('Deleting')?>"><?=LangAdmin::get('Delete')?></button>
    </div>

    <div class="span6 text-right">

        <select class="input-mini per-page-item" data-action="<?=$PageUrl->AssignDo('searches')?>">
            <option value="10" <?=$perPage == 10 ? 'selected="selected"' : ''?>>10</option>
            <option value="25" <?=$perPage == 25 ? 'selected="selected"' : ''?>>25</option>
            <option value="50" <?=$perPage == 50 ? 'selected="selected"' : ''?>>50</option>
            <option value="100" <?=$perPage == 100 ? 'selected="selected"' : ''?>>100</option>            
        </select>

    </div>

</div>


<table class="table table-bordered">

    <thead>
        <tr>
            <th style="max-width: 10%!important; width: 5%;"><input type="checkbox" id="checkAll"></th>
            <th class="span4"><?=LangAdmin::get('Search_string')?></th>
        </tr>
    </thead>

    <tbody>
        <? if (! empty($blackList)) { ?>
        <? foreach ($blackList as $item) { ?>
        <tr>
            <td style="max-width: 10%!important; width: 5%;"><input type="checkbox" class="itemCheck" data-id="<?=$item?>"/></td>
            <td><?=$item?></td>
        </tr>
        <? } ?>
        <? } ?> 
    </tbody>

</table>



<!-- pagination: first page is active -->
<?php $paginator->display(); ?>

</div>
<!-- sets-wrapper -->

<? AssetsMin::registerJsFile('/admin/js/ot-restrictions.js'); ?>
<? AssetsMin::registerJsFile('/js/vendor/jquery.form.js'); ?>

