<h1><?=Lang::get('changing_password')?></h1>


<div class="userform userBigLabel">
        
    <form action="<?=UrlGenerator::generateContentUrl('recovery')?>" method="post">
	
		<div class="bproduct mb30">
			<input type="hidden" name="complete" value="1"/>
			<input type="hidden" name="code" value="<?=$code?>"/>
			
			
			<div class="form-row">
				<label for="newPassword"><?=Lang::get('new_password')?></label>
				<input id="newPassword" type="password" name="newPassword" class="form-field" />
			</div>
			
			<div class="form-row">
				<label for="newPasswordConfirm"><?=Lang::get('new_password_confirm')?></label>
				<input id="newPasswordConfirm" type="password" name="newPasswordConfirm" class="form-field" />
			</div>
			
			<div class="form-row">
                <label></label>
				<input type="submit" name="change_password" value="<?=Lang::get('save')?>" class="btn_office" />
			</div>
			
		</div>
    </form>
</div>