<div class="tabs-content">
    <div class="userform">
        <form action="<?=UrlGenerator::generateContentUrl('register')?>" method="post" id="register" class="form">

            <div class="form-row">
                <label for="username"><?=Lang::get('login_username')?> *</label>
                <input id="username" type="text" name="username" value="<?=$this->escape($username)?>" class="form-field required-field" maxlength="50"/>
            </div>

            <div class="form-row">
                <label for="email">Email *</label>
                <input id="email" type="text" name="email" value="<?=$this->escape($email)?>" class="form-field required-field" />
            </div>

            <div class="form-row">
                <label for="password"><?=Lang::get('password')?> *</label>
                <input id="password" type="password" name="password" class="required-field form-field" /><br/>
                                <small><?=Lang::get('password_desc')?></small>
            </div>

            <?
            if(CMS::IsFeatureEnabled('ReferralProgram')){
                print ReferalSystem::onRegisterFormRender();
            }
            ?>

            <?=Plugins::invokeEvent('onRegisterFormRender')?>

            <? if (!OTCaptcha::isCaptchaUnavailable()) { ?>
                <div class="form-row">
                    <label>&nbsp;</label>
                    <?=OTCaptcha::getWidget(); ?>
                </div>
            <? } ?>

            <div class="form-row">
                <label>&nbsp;</label>
                <label for="agree" class="agree">
                    <input id="agree" type="checkbox" class="required-field checkbox" name="agree" value="agree" <?=$agree?> />
                </label>

                    <?=Lang::get('agree_with')?> <a id="user_agreement_spoiler-toggler"><?=Lang::get('user_agreement_l')?></a>
                    <br/>
            </div>
            <div style="display: none" id="user_agreement_spoiler-text" class="user_agreement_spoiler-text">
                <?=$userAgreement?>
            </div>

            <?=Lang::get('required_fields')?><br/><br/>
            
            <script>
                $('#user_agreement_spoiler-toggler').click(function(){
                   $('#user_agreement_spoiler-text').slideToggle('400');
                });
            </script>

            <div class="form-row register">
                <label>&nbsp;</label>
                <input type="submit" id="submitb" name="login" value="<?=Lang::get('registration_label')?>"class="btn_office" />
            </div>
        </form>

        <? if (CMS::IsFeatureEnabled('ExternalAuthentication')) { ?>
            <div class="form-row">
                <?=General::runController('Authentication', 'renderAuthSystemList')?>
            </div>
        <? } ?>
    </div>
</div>
<!--noindex-->
<script type="text/javascript">
$(function()
{
    var checkregister = function()
    {
        var f = true;
        if ($('#username').val() == '') {
            $('#username').addClass('required-field');
            f = false;
        } else {
            $('#username').removeClass('required-field');
        }
        if ($('#email').val() == '') {
            $('#email').addClass('required-field');
            f = false;
        } else {
            $('#email').removeClass('required-field');
        }
        if ($('#password').val() == '') {
            $('#password').addClass('required-field');
            f = false;
        } else {
            $('#password').removeClass('required-field');
        }

        if ($('#register .googleReCaptcha').length) {
            if (! grecaptcha.getResponse().length) {
                $('#register .googleReCaptcha').addClass('required-field');
                f = false;
            } else {
                $('#register .googleReCaptcha').removeClass('required-field');
            }
        }

        if ($('#register .gdcaptcha').length) {
            if ($('#register .gdcaptcha').val() == '') {
                $('#register .gdcaptcha').addClass('required-field');
                f = false;
            } else {
                $('#register .gdcaptcha').removeClass('required-field');
            }
        }

        if ($('#agree:checked').length == 0) f = false;
        if (!f) {
            $('#submitb').attr('disabled', 'disabled');
            $('#submitb').addClass('btn_office_disabled');
        } else {
            $('#submitb').removeAttr('disabled');
            $('#submitb').removeClass('btn_office_disabled');
        }
    }

    setInterval(checkregister, 1000);

});
</script>
<!--/noindex-->
